﻿@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-r-webfont.eot');
    /*src: url('fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ubuntu-r-webfont.woff2') format('woff2'), url('fonts/ubuntu-r-webfont.woff') format('woff'), url('fonts/ubuntu-r-webfont.ttf') format('truetype'), url('fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

html, input, button, textarea, select {
    font-family: ubunturegular, Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-color: #efefef;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.Iconbutton {
    height: 100%;
    border: none;
    border-radius: 0px;
    background-color: #1e3663;
    float: right;
    border-bottom: 3px solid #1e3663;
}

    .Iconbutton:hover {
        border-bottom: 3px solid #ef6724;
    }

    .Iconbutton:focus {
        border-bottom: 3px solid #ef6724;
    }

    .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container, .instructions {
    width: 200px;
    margin: 20px auto 0;
    font-size: 14px;
    font-family: sans-serif;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
    .dropdown-label, .dropdown-quantity {
        float: left;
    }
    
    .dropdown-quantity {
        margin-left: 4px;
    }
    
    .fa-filter {
        float: right;
    }


.dropdown-list {
    float: left;
    width: 100%;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
}
    input[type="search"] {
        padding: 5px 0;
    }

ul {
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
        input[type="checkbox"] {
            position: relative;
            top: 2px;
        }

/*
th {
    color:#FFFFFF;
    background-color:#3493df;
}

table {
    margin-left: auto;
    margin-right: auto;
}
table th:first-of-type {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
table th:last-of-type  {
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
    table tr:nth-child(even) {
        background:#CCC;
    }
    table tr:nth-child(odd) {
        background:#EEE;
    }*/

h1 {
    text-align: center;
}

li {
    float:left;
}


#chart {
    height: 360px;
    position: relative;
    width: 360px;
}

/*
.loader,
.loader:before,
.loader:after {
    background: #ef6724;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #1e3663;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
    */
.webaspx-table {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-spacing: 0 !important;
    overflow-y: scroll;
}

    .webaspx-table th {
        padding-right: 10px;
        padding-left: 5px;
        border: solid thin white;
        background-color: #3493df;
        background-color: #1e3663;
        height: 40px;
        text-align: center;
        color: white;
        /*white-space:pre-wrap;*/
    }

        .webaspx-table th > a {
            color: white;
        }

        .webaspx-table th:first-of-type {
            -webkit-border-top-left-radius: 8px;
            border-top-left-radius: 8px;
        }

        .webaspx-table th:last-of-type {
            -webkit-border-top-right-radius: 8px;
            border-top-right-radius: 8px;
        }

    .webaspx-table td {
        height: 40px;
        vertical-align: middle;
        /*padding: 3px 5px 3px 5px;*/
        /*padding: 1px 5px 1px 5px;*/
        text-align: center;
    }

    .webaspx-table > tbody > tr:nth-child(odd) {
        background-color: white;
        color: #828282;
    }

    .webaspx-table > tbody > tr:nth-child(even) {
        background-color: #f0f0f0;
        color: #828282;
    }

    .webaspx-table .odd-row {
        background-color: white;
        color: #828282;
    }

    .webaspx-table .even-row {
        background-color: #f0f0f0;
        color: #828282;
    }

.webaspx-table-compressed th {
    height: 30px !important;
}

.webaspx-table-compressed td {
    height: 25px !important;
}

.webaspx-table.scroll tbody, .webaspx-table.scroll thead 
{ 
    display: block; 
}

.\t.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-tabs {
    cursor: default !important;
}

    .table-tabs td > span {
        min-width: 22px;
        min-height: 34px;
        padding: 4px;
        color: #828282;
        border: solid thin;
        cursor: pointer !important;
        text-align: center;
    }

    .table-tabs td > .active-tab {
        border-color: #3493df !important;
        color: #3493df !important;
        font-weight: bold;
    }

.LogoCircle {
    background: #ef6724;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    border: 3px #efefef solid;
    -webkit-animation-name: example;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -o-animation-name: example;
    -o-animation-duration: 3s;
    -o-animation-delay: 0.5s;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.LogoOutLine {
    background: #efefef;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: -25px;
    top: -25px;
    border: 7px #efefef solid;
}

.LogoSquare {
    background: #1e3663;
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 25px; 
    -webkit-animation-name: Rotation;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -o-animation-name: Rotation;
    -o-animation-duration: 3s;
    -o-animation-delay: 0.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease;
    animation-name: Rotation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.LoaderBody {
    position: absolute;
    top: 30%;
    left: 49%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 100px;
    display: block;
    display: none;
}

.LoaderText {
    vertical-align: bottom;
    margin-top: 75px;
    margin-left: -18px;
    width: 100%;
    font-Size: 14px;
    white-space: pre;
    text-align: center;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 0px;
        top: -75px;
    }

    30% {
        left: -20px;
        top: -75px;
    }

    40% {
        left: 20px;
        top: -75px;
    }

    50% {
        left: -20px;
        top: -75px;
    }

    60% {
        left: 20px;
        top: -75px;
    }

    70% {
        left: -20px;
        top: -75px;
    }

    80% {
        left: -10px;
        top: -75px;
    }

    90% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes Rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container {
    width: 100%;
    margin: 0;
}


.containerBody {
    width: 98.5%;
    height: 100%;
    background-color: White;
    color: White;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: none;
}

.containerBanner {
    width: 50%;
    height: 10px;
    background-color: #f0ad4e;
    color: White;
}

.containerBody .Charts .Left {
    width: 100%;
    height: 15px;
    color: black;
    font-size: 14px;
}

.containerBody .Charts .Right {
    width: 100%;
    margin-right: 19px;
    height: 15px;
    color: black;
    font-size: 14px;
}

.containerBanner .Charts {
    background-color: #1e3663;
}

.containerCharts {
    width: 95%;
    text-align: center;
    overflow: hidden;
}

#left {
    float: left;
    width: 45%;
}

#center {
    display: inline-block;
    margin: 0 auto;
    width: 32%;
}

.right {
    float: right;
    width: 45%;
}

body {
    overflow-y: auto;
    min-width: 500px;
    background-color: inherit;
}

.Arrow-Same-Black::after {
    content: '\2013';
    font-size: 23px;
    padding: 4px;
    color: black;
}

.Arrow-Up-Green::after {
    content: '\2191';
    padding: 4px;
    color: #89c14d;
    font-size: 23px;
}

.Arrow-Down-Green::after {
    content: '\2193';
    padding: 4px;
    color: #89c14d;
    font-size: 23px;
}

.Arrow-Up-Red::after {
    content: '\2191';
    padding: 4px;
    color: red;
    font-size: 23px;
}

.Arrow-Down-Red::after {
    content: '\2193';
    padding: 4px;
    color: red;
    font-size: 23px;
}

.Positive {
    color: #89c14d;
}

.Negative {
    color: red;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
    width: 100%;
}

.Content {
    background-color: inherit;
    width: 90%;
    height: 85%; /*70%*/
    margin: auto;
    margin-top: 10%;
    display: none;
}

.slideRightToLeft.show {
    margin-left: 0%;
    transition: all 0.5s;
}

.slideRightToLeft.hide {
    margin-left: 100%;
    transition: all 0.5s;
}

.BorderLeft {
    padding-left: 12%;
    border-left: solid 1px #eeeeee;
}

.BorderLeft2 {
    margin-top: 15px;
    position: relative;
    /*padding-left: 12%;*/
}

.BorderColorPanel {
    border-left: solid 1px #efefef;
    padding-bottom: 10px;
}

.Left {
    margin-left: 10px;
}

.Right {
    margin-right: 10px;
}

h2 {
    font-size: 27px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 15px;
}



.Tile {
    float: left;
    cursor: pointer;
    text-align: center;
    height: 180px;
    width: 180px;
    margin: 10px 5px;
    position: relative;
    flex: 45%;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0 7px 6px -6px black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .Tile:not(.Tile-NoHover):hover {
        -moz-transform: translate(0px, -4px);
        -ms-transform: translate(0px, -4px);
        -o-transform: translate(0px, -4px);
        -webkit-transform: translate(0px, -4px);
        transform: translate(0px, -4px);
    }

.Tile-Full {
    float: left;
    cursor: default;
    text-align: center;
    height: 180px;
    width: 180px;
    margin: 8px 5px;
    position: relative;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0 7px 6px -6px black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.Tile-Null {
    float: left;
    cursor: default;
    text-align: center;
    height: 180px;
    width: 180px;
    margin: 10px 5px;
    position: relative;
    background-color: #e2e2e2;
    min-width: 180px;
}

.Tile-Title {
    margin-top: 10px;
    font-size: 27px;
}

.Tile-Icon {
    position: absolute;
    bottom: 0px;
    font-size: 60px;
    margin-bottom: 46px;
    width: 100%;
}

.Tile-Value {
    position: absolute;
    font-size: 24px;
    bottom: 10px;
    width: 100%;
}

.Tile-Content {
    display: none;
    margin: 0px 10px;
    height: 450px;
    overflow: auto;
}

.Alert-Chart {
    display: none;
    font-size: 30px;
    position: absolute;
    color: #d52b2b;
    left: 2%;
    top: 5px;
}

.Alert-Table {
    font-size: 30px;
    color: #d52b2b;
}

.Alert-Row {
    background-color: #d52b2b !important;
    color: white !important;
}

.Table-Complete {
    background-color:#1cc02e !important;
    color: white !important;
    font-weight:bold;
}

.Single-Column {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.Tile-Table-Header {
    background-color: #3493df;
    background-color: #1e3663;
    color: white;
    font-size: 17px;
}

.Alert-List {
    width: 102%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -30px;
    position: relative;
}

.Tile-Alert {
    width: 90%; 
    margin:auto;
    float: none;
    margin-top: 10px;
    cursor: default;
}

.Tile-Alert-Title {
    text-align:left; 
    margin: 5px 10px; 
    width: 100%;
}

.Tile-Alert-Text {
    text-align:left;
    margin: 5px 10px;
    width: 100%;
}

.SeriesDiv {
    width: 10px; 
    height: 10px; 
    display: inline-block;
    background-color: hotpink;
}

.festive {
	width:120px;
	height:120px;
	border-radius:50%;
	position:relative;
	top:85%;
    right: 33px;
    margin:0 auto;
	bottom:0;
    margin-top:-60px;
}
.festive .hat {
	width: 64px;
	height: 31px;
	border-radius: 200px 200px 0 0;
	background: #ef4753;
	margin: 0 auto;
	top: -11px;
	position: relative;
	left: 5px;
	z-index:20;
}

.festive .hat:after {
	width: 60px;
	height: 15px;
	border-radius: 20px;
	content: "";
	display: block;
	background: #e5e5e5;
	position: relative;
	top: 22px;
	left: -3px;
}
.festive .hat .hat-end {
	width: 13px;
	height: 32px;
	content: "";
	background: #ef4753;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 15px;
	border-radius: 0px 11px 0px 0px;
}

.festive .hat .hat-end:after {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #e5e5e5;
	content: "";
	display: inline-block;
	top: 30px;
	position: absolute;
	left: 0px;
	z-index: 11;
}

.Vehicle-Parent {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.Vehicle-Div {
    float: left; 
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 50px;
}

.Vehicle-Icon {
    float: left;
    /*margin-left: 10%;*/
    font-size: 70px;
}

.Vehicle-Text {
    position: absolute;
    margin-top: 7px;
    font-size: 35px;
    color: #424242;
    /*top: 8px;*/
}

.Chart-Icon {
    /*font-size: 70px;
    /*position: absolute;
    left: 42%;
    top: 39%;*//*
    color: gray;
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;*/

    font-size: 70px;
    position: absolute;
    left: 42%;
    top: 39%;
    color: gray;
}

/*.ScalingChart {
    width: 100%;
    height: 330px;
    min-width: 100%;
    min-height: 330px;
    max-width: 100%;
    max-height: 500px;
}*/

.td-Important {
    /*border: solid thin white;*/
    background-color: #3493df !important;
    background-color: #1e3663 !important;
    color: white !important;
}

.PanelMain {
    width: 100%; 
    max-height: 610px; 
    overflow-x:hidden;
    overflow: hidden;
}

.BarToolTipDiv {
    background-color: #000000;
    width: 100px;
    height: 100%;
    position: absolute;
    bottom: 10px;
    opacity: 0;
}

.Tile-NoHover:hover {
}

@media screen and (max-width: 1100px) {
    .Tile-Full {
        height: auto;
    }

    #ChartsPanel {
        height: auto !important; 
    }

    .BorderColorPanel {
        border-left: none;
    }

    .Vehicle-Div {
        margin-top: 3%;
        margin-bottom: 3%
    }

    .PanelMain {
        max-height: none;
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 800px) {
    .PanelMain {
        max-height: none;
        display: flex;
        flex-wrap: wrap;
    }
}

/*@media (min-width: 1500px) {
    .container {
        width: 95%;
    }
}*/


.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 42px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.ChartScale {
    /*
    display: table;
     border: red solid 1px;
    border-radius: 50%;
    display:table;
    */
}

.ChartScale span {
    /*
    font-size: 70px;
    color: gray;

    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
        */
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* street portal style styles */
.streets-tile {
    font-size: large;
}