@font-face{
    font-family: 'ubunturegular';
    src: url('/Content/Fonts/ubuntu-r-webfont.eot');
    src: url('/Content/Fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('/Content/Fonts/ubuntu-r-webfont.woff') format('woff'),
         url('/Content/Fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('/Content/Fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}