﻿* {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

html {
    height: 100%;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

h3 {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 24px;
}

body {
    margin: 0;
    height: 100%;
    padding: 0px 5px;
    background-color: #efefef;
    margin-right: 120px;
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.card {
    float: left;
    text-align: center;
    flex: auto;
    margin: 8px 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tileDataDiv, tileIconDiv {
    padding: 5px 10px;
    font-size: 25px;
    word-spacing: 20px;
}

.tileDataIncrease {
    float: right;
    padding: 0px 5px;
    font-size: 20px;
    font-weight: 500;
    color: #52d29a;
    word-spacing: normal;
}

.tileIconOverlay {
    position: relative;
}

.tileIcon {
    padding: 0px 15px;
}

.tileIconSecondary {
    width: 45px;
    position: absolute;
    top: 3px;
    padding: 0;
    right: 36.9%;
}

.iconGreen {
    color: #52d29a;
}

.iconRed {
    color: #e80c4d;
}

.iconBlack {
    color: #000000;
}

.roundStatsDiv {
    padding: 10px;
    width: 100%;
    float: left;
    align-self: center;
}

    .roundStatsDiv h3 {
        float: left;
        padding: 0px 20px;
        min-width: 110px;
        text-align: left;
    }

.roundStatsIconDiv {
    float: left;
    align-self: center;
}

.roundStatsIconBin {
    padding-left: 21px;
}

.roundBarTable {
    width: 70%;
}

.roundBarChartDiv {
    width: 100%;
    max-height: 50px;
}

.cardSplitDiv {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}


table {
    width: calc(100% + 1px);
    margin: auto;
    border-spacing: 0 !important;
    overflow-y: scroll;
    border-spacing: 0;
    border-collapse: collapse;
}

    table thead {
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        background-color: #1e3663;
    }

    table td {
        height: 40px;
        vertical-align: middle;
        text-align: center;
    }

    table tr {
        border-left: 3px solid transparent;
    }

table:not(.roundBarTable) tr:nth-child(even) {
    background-color: #f0f0f0;
}
    
        table tr odd {
            background-color: #f0f0f0 !important;
        }

.new {
    border-left: 3px solid #ef6724;
}