﻿html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    background-color: #efefef;
    padding: 0px 5px;
    margin: 0px;
}

.flex-row {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.card {
    flex: auto;
    text-align: center;
    margin: 8px 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-min {
    max-height: 172px;
    min-height: 172px;
}

.card h3 {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 24px;
}

.card div {
    padding: 5px 10px;
    font-size: 25px;
    word-spacing: 20px;
}

.card-icon {
    padding: 0px 15px;
}

.card-icon-parent {
    position: relative;
}

.card-icon-child {
    width: 45px;
    position: absolute;
    top: 3px;
    padding: 0;
    right: 36.9%;
}

.white {
    color: #ffffff;
}

.green {
    color: #52d29a;
}

.red {
    color: #e80c4d;
}

.black {
    color: #000000;
}

table {
    margin: auto;
    border-spacing: 0 !important;
    overflow-y: scroll;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table thead {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    background-color: #1e3663;
}

table td {
    height: 40px;
    vertical-align: middle;
    text-align: center;
}

.new {
    border-left: 3px solid #ef6724;
}

table:not(#card-table):not(.roundBarTable):not(#IssuesTableFeed) tr:nth-child(even),
.odd {
    background-color: #f0f0f0;
}

.card-row-container {
    max-height: 100%;
    padding: 5px 14px 15px 14px;
}

.card-row-container canvas {
    max-height: 360px;
    max-width: 100%;
    min-width: 400px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay h3,
h4 {
    margin-bottom: 0px;
}

@media screen and (max-width: 1223px) {
    #top-row {
        max-height: 376px !important;
    }
}

.loader {
    display: inline-block;
    position: relative;
    background-color: white;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.loader div {
    position: absolute;
    top: 27px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: 6px;
    animation: loader1 .6s infinite;
}

.loader div:nth-child(2) {
    left: 6px;
    animation: loader2 .6s infinite;
}

.loader div:nth-child(3) {
    left: 26px;
    animation: loader2 .6s infinite;
}

.loader div:nth-child(4) {
    left: 45px;
    animation: loader3 .6s infinite;
}

@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes loader3 {
    0% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    to {
        transform: translate(19px, 0);
    }
}